@import "../../theme/variables.scss";

.mike {
    width: 50px;
    background: url(/assets/icon/mike.png) no-repeat center;
    background-size: 24px 24px;
}

.search-input {
    flex: 1;
}

.running {
    width: 50px;
    background: url(/assets/icon/running.png) no-repeat center;
    background-size: 20px 20px;
}

.search-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 100;
}

.singer-classes {
    height: 40px;
    line-height: 40px;
    justify-content: center;
    font-size: 14px;
    color: #363636;
    border-bottom: 1px solid #e3e3e3;
}

.person {
    width: 20px;
    height: 40px;
    background: url(/assets/icon/person.png) no-repeat center;
    background-size: 20px 20px;
    margin-right: 10px;
}

.right-arrow {
    width: 20px;
    height: 40px;
    background: url(/assets/icon/r-arrow.png) no-repeat center;
    background-size: 14px 14px;
}

.hot-search {
    height: 40px;
    padding-top: 20px;
    font-size: 14px;
    padding-left: 10px;
}

.hot-search-item {
    display: inline-block;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 15px;
    box-sizing: border-box;
    border: 1px solid transparent;
    white-space: nowrap;
    border-color: #e3e3e3;
    text-align: center;
    margin: 5px;
}

.histort-list {
    margin-top: 20px;
    font-size: 12px;
}

ion-label {
    font-size: 14px !important; 
}

.tab-container {
    position: fixed;
    // top: 50px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px #e3e3e3 solid;
    margin: 0;
    padding: 0 20px;
    display: flex;
    z-index: 99;
    background: #fff;
}

.tab-item {
    flex: 1;
    text-align: center;
}

.active-item {
    border-bottom: 2px solid color($colors, primary);
}

.home-baner {
    width: 100%;
    height: 146px;
    margin-top: 40px;
}

.home-intro {
    width: 100%;
    height: 104px;
    margin-top: 0;
    border-bottom: 1px #e3e3e3 solid;
}

.intro-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-fm {
    width: 60px;
    height: 60px;
    background: url(/assets/icon/fm.png) no-repeat center;
    background-size: 36px 36px;
    border: 1px solid #bfbfbf;
    border-radius: 50%;
    margin: 0 auto;
}

.intro-info {
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
}

.intro-song {
    width: 60px;
    height: 60px;
    background: url(/assets/icon/calendar.png) no-repeat center;
    background-size: 36px 36px;
    border: 1px solid #bfbfbf;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 68px;
    text-align: center;
    font-size: 16px;
    color: #bfbfbf;
}

.intro-songRank {
    width: 60px;
    height: 60px;
    background: url(/assets/icon/songRank.png) no-repeat center;
    background-size: 36px 36px;
    border: 1px solid #bfbfbf;
    border-radius: 50%;
    margin: 0 auto;
}

.home-list-item {
    width: 100%;
    height: 50px;
    padding: 10px 0;
}

.home-list-title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-left: 3px solid #474b4c;  
    padding-left: 12px;  
}

.h-list-title {
    height: 30px;
}

.song-list-six {
    justify-content: space-between;
}

.song-list-item {
    width: 122px;
    height: 177px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.intro-song-pic {
    width: 122px;
    height: 122px;
}

.intro-song-name {
    width: 122px;
    height: 55px;
    font-size: 12px;
    padding: 5px;
}
