<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-icon class="mike" *ngIf="!isSearch"></ion-icon>
      <ion-searchbar
        [(ngModel)]="searchQuery"
        showCancelButton="true"
        cancelButtonText="取消"
        (ionInput)="onSearchInput($event)"
        (ionCancel)="onSearchCancel()"
        animated="true"
        placeholder="搜索音乐、歌词、电台"
        class="search-input"
        (ionBlur)="searchBarBlur()"
        (ionFocus)="searchBarFocus()"
      >
      </ion-searchbar>
      <ion-icon class="running" *ngIf="!isSearch"></ion-icon>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- 搜索记录 -->
  <ion-grid class="search-container" *ngIf="isSearch">
    <ion-row class="singer-classes">
      <ion-icon class="person"></ion-icon>
      歌手分类
      <ion-icon class="right-arrow"></ion-icon>
    </ion-row>
    <ion-row class="hot-search">
      热门搜索
    </ion-row>
    <ion-row>
        <ion-col class="hot-search-item">那年花开月正圆</ion-col>
        <ion-col class="hot-search-item">Taylor Swift</ion-col>
        <ion-col class="hot-search-item">你曾说</ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="hot-search-item">成都</ion-col>
        <ion-col class="hot-search-item">卡农</ion-col>
        <ion-col class="hot-search-item">Lady Gaga</ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="hot-search-item">Something just like this</ion-col>
        <ion-col class="hot-search-item">Taylor Swift</ion-col>
    </ion-row>
    <ion-list class="histort-list">
      <ion-item>
        <ion-icon class="icon-clock" item-start></ion-icon>
          兄弟
        <ion-icon class="icon-close" item-end></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon class="icon-clock" item-start></ion-icon>
          虫儿飞
        <ion-icon class="icon-close" item-end></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon class="icon-clock" item-start></ion-icon>
          周杰伦
        <ion-icon class="icon-close" item-end></ion-icon>
      </ion-item>
    </ion-list>
    
  </ion-grid>
  
  <!-- 首页 顶部tabs -->
  <ion-row class="tab-container">
    <li class="tab-item active-item">个性推荐</li>
    <li class="tab-item">歌单</li>
    <li class="tab-item">主播电台</li>
    <li class="tab-item">排行榜</li>
  </ion-row>

  <!-- 首页 banner -->
  <ion-slides
    [pager]="true"
    [loop]="true"
    class="home-baner"
  >
    <ion-slide
      *ngFor="let banner of bannerList"
    >
      <img src="{{banner.pic}}" />
    </ion-slide>
  </ion-slides>

  <!-- 首页 推荐 -->
  <ion-row class="home-intro">
    <li class="intro-item">
      <div class="intro-fm"></div>
      <div class="intro-info">私人FM</div>
    </li>
    <li class="intro-item">
      <div class="intro-song">
        21
      </div>
      <div class="intro-info">每日歌曲推荐</div>
    </li>
    <li class="intro-item">
      <div class="intro-songRank"></div>
      <div class="intro-info">云音乐热歌榜</div>
    </li>
  </ion-row>

  <!-- 首页推荐 歌单 -->
  <ion-row class="home-list-item">
    <ion-row class="home-list-title">
      推荐歌单
      <ion-icon class="right-arrow h-list-title"></ion-icon>
    </ion-row>
  </ion-row> 
  <ion-row class="item-list-content">
    <div class="item-list-one" *ngFor="let introSong of introSongList">
      <img src="{{introSong.picUrl}}" class="list-one-pic" />
      <div class="list-one-name">{{introSong.name}}</div>
      <div class="item-play-count">
        <span class="play-count-span">{{introSong.playCount}}</span>
      </div>
    </div>
  </ion-row>
  
  <!-- 首页 独家放送 -->
  <ion-row class="home-list-item">
    <ion-row class="home-list-title">
      独家放送
      <ion-icon class="right-arrow h-list-title"></ion-icon>
    </ion-row>
  </ion-row>

  <!-- 首页 推荐MV -->
  <ion-row class="home-list-item">
    <ion-row class="home-list-title">
      推荐MV
      <ion-icon class="right-arrow h-list-title"></ion-icon>
    </ion-row>
  </ion-row>
  <ion-row class="item-list-content">
    <div class="item-list-one mv-one" *ngFor="let introMv of introMvList">
      <img src="{{introMv.picUrl}}" class="list-one-pic mv-pic" />
      <div class="list-mv-name">{{introMv.name}}</div>
      <div class="list-mv-name">{{introMv.artistName}}</div>
      <div class="item-play-count">
        <span class="mv-count-span">{{introMv.playCount}}</span>
      </div>
    </div>
  </ion-row>

  <!-- 首页 主播电台 -->
  <ion-row class="home-list-item">
    <ion-row class="home-list-title">
      主播电台
      <ion-icon class="right-arrow h-list-title"></ion-icon>
    </ion-row>
  </ion-row>
  <ion-row class="item-list-content">
    <div class="item-list-one" *ngFor="let djProgram of djProgramList">
      <img src="{{djProgram.picUrl}}" class="list-one-pic" />
      <div class="list-one-name">{{djProgram.name}}</div>
    </div>
  </ion-row>



</ion-content>
